################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RESTApisDemo/.vs/RESTApisDemo
