################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RESTApisDemo/.vs/RESTApisDemo
/RESTApisDemo/bin/Debug/net6.0
/RESTApisDemo/obj
*.user
/RESTAPIsDemo.Test/RESTAPIsDemo.Test/bin/Debug/net6.0
/RESTAPIsDemo.Test/RESTAPIsDemo.Test/obj
